<template>
<<<<<<< HEAD
<<<<<<< HEAD
       <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading white">		
                        
				<span>	Географія подорожі {{ territoryval }}, медичне покриття {{ medsumval }} {{ currency }}, Франшиза {{ franshizaval }}, Програма   {{ programmname }} </span>
				<br/>
					<a data-toggle="collapse" href="#collapse1" class="dropdown-toggle">
						Змінити умови:
						 </a>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="row">
                        <app-territory></app-territory>
                        <app-med-spend></app-med-spend>
						<app-franshiza></app-franshiza>
						<app-programm></app-programm>
						
=======
	<div>
		<div class="row">
			<app-territory></app-territory>
			<app-franshiza></app-franshiza>
			<app-med-spend></app-med-spend>
		</div>
			<hr>
				<app-programm></app-programm>
			<hr>
			
>>>>>>> travel4


	</div>
</template>


<script>



export default{

	data(){
		return {
			
		}
	},
	

}

<<<<<<< HEAD
</style>
=======
	<div>
		<div class="row">
			<app-territory></app-territory>
			<app-franshiza></app-franshiza>
			<app-med-spend></app-med-spend>
			<hr>
				<app-programm></app-programm>
			<hr>
			
		</div>

	</div>
</template>


<script>



export default{

	data(){
		return {
			
		}
	},
	

}

</script>
>>>>>>> travel5
=======
</script>
>>>>>>> travel4
