<template>
<<<<<<< HEAD
<<<<<<< HEAD
    <div class="form-group center" id="programms">
        <h3 class="white">Оберіть програму</h3>
=======
    <div class="row" >
        <div id="programms" class="form-group center">
            <h3 class="white">Оберіть програму</h3>
>>>>>>> travel4
=======
    <div class="form-group center">
        <h3 class="white">Оберіть програму</h3>
>>>>>>> travel4

        <!-- DIRTY Responsive pricing table HTML -->

        <article>
            <div id = "scrollplan">
                <ul>
                   <!-- <li class="bg-blue">
                        <label class="btn  ">
                            <input type="radio" name="optionsSS" id="optionSS" autocomplete="off"
                                   v-model="programm" :value="{val: 0.7, name: 'S'}" disabled>S
                        </label>
                    </li> -->
                    <li class="bg-purple">
                        <label class="btn  ">
                            <input type="radio" name="optionsCC" id="optionCC" autocomplete="off"
                                   v-model="programm" :value="{val: 1.1, name: 'C'}" >CLASSIC
                        </label>
                    </li>
                    <li class="bg-blue">
                        <label class="btn  ">
                            <input type="radio" name="optionsGG" id="optionGG" autocomplete="off"
                                   v-model="programm" :value="{val: 1.8, name: 'G'}">GOLD
                        </label>
                    </li>
                    <li class="bg-blue ">
                        <label class="btn  ">
                            <input type="radio" name="optionsPP" id="optionPP" autocomplete="off"
                                   v-model="programm" :value="{val: 2.7, name: 'P'}" disabled>PLATINUM
                        </label>
                    </li>

                </ul>
            </div>

            <table>
                <thead>
                <tr>
                    <th class="hide"></th>
                    <!-- <th class="bg-blue"><label class="btn ">
                        <input type="radio" name="options" id="optionS" autocomplete="off"
                               v-model="programm" :value="{val: 0.7, name: 'S'}" disabled>"S"
                    </label></th> -->
                    <th class="bg-purple"><label class="btn ">
                        <input type="radio" name="options" id="optionC" autocomplete="off"
                               v-model="programm" :value="{val: 1.1, name: 'C'}" >CLASSIC
                    </label></th>
                    <th class="bg-blue default"><label class="btn ">
                        <input type="radio" name="options" id="optionG" autocomplete="off"
                               v-model="programm" :value="{val: 1.8, name: 'G'}">GOLD
                    </label></th>
                    <th class="bg-blue"><label class="btn ">
                        <input type="radio" name="options" id="optionP" autocomplete="off"
                               v-model="programm" :value="{val: 2.7, name: 'P'}" disabled>PLATINUM
                    </label></th>
                </tr>
                </thead>
                <tbody>
            <!--    <tr>
                    <td>Monthly price</td>
                    <td>
                        S
                    </td>
                    <td><span class="txt-top">&pound;</span><span class="txt-l">C</span></td>
                    <td class="default"><span class="txt-top">&pound;</span><span class="txt-l">G</span></td>
                    <td><span class="txt-top">&pound;</span><span class="txt-l">P</span></td>
                </tr> -->


            <!--    <tr>
                    <td colspan="4" class="sep">Ризики, що покриваються</td>
                </tr> -->
            <!--        <tr>
                    <td>Сплата медичних витрат при необхідності надання невідкладної та
                        екстреної стаціонарної допомоги (послуги та медикаменти)
                    </td>
                    <!-- <td><span class="tick"></span></td> -->
            <!--        <td><span class="tick">&#10004;</span></td>
                <td class="default"><span class="tick">&#10004;</span></td>
                <td><span class="tick">&#10004;</span></td>
            </tr> -->
            <!--        <tr>
                    <td>Репатріація у випадку хвороби</td>
                    <!-- <td><span class="tick"></span></td> -->
            <!--            <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                </tr>
                <tr>
                    <!-- <td>Репатріація у випадку смерті</td> -->
            <!--           <td></td>
                   <td><span class="tick">&#10004;</span></td>
                   <td class="default"><span class="tick">&#10004;</span></td>
                   <td><span class="tick">&#10004;</span></td>
               </tr> -->
           <!--        <tr>
                   <td>Сплата медичних витрат при необхідності надання екстреної
                       амбулаторної допомоги (послуги та медикаменти)
                   </td>
                   <!-- <td></td> -->
            <!--            <td><span class="tick">&#10004;</span></td>
                    <td class="default"><span class="tick">&#10004;</span></td>
                    <td><span class="tick">&#10004;</span></td>
                </tr> -->

                <tr>
                    <td colspan="4" class="sep">Додатково</td>
                </tr>
                <tr>
                    <td>Невідкладна стоматологічна допомога</td>
                    <!-- <td></td> -->
                    <td class="default"><span class="tick">150 {{ currency  }}</span></td>
                    <td ><span class="tick">150 {{ currency  }}</span></td>
                    <td><span class="tick">150 {{ currency  }}</span></td>
                </tr>
                <tr>
                    <td>Передача термінових повідомлень</td>
                    <!-- <td></td> -->
                    <td class="default">&#10008;</td>
                    <td ><span class="tick">20 {{ currency  }}</span></td>
                    <td><span class="tick">20 {{ currency  }}</span></td>
                </tr>
                <tr>
                    <td>Дострокове повернення Застрахованої особи до країни
                        постійного проживання у разі смерті близького родича
                        (оплата вартості квитків)</td>
                    <!-- <td></td> -->
                    <td class="default">&#10008;</td>
                    <td><span class="tick">400 {{ currency  }}</span></td>
                    <td><span class="tick">400 {{ currency  }}</span></td>
                </tr>
                <tr>
                    <td>Транспортування дітей Застрахованої особи (Евакуація дітей
                        Застрахованого) у віці до 15 років до місця постійного перебування
                        у разі, якщо Застрахована особа госпіталізована та немає іншого
                        дорослого (старше 18 років) близького родича, який перебуває
                        за кордоном (оплата вартості квитків)</td>
                    <!-- <td></td> -->
                    <td class="default">&#10008;</td>
                    <td>&#10008;</td>
                    <td><span class="tick">300 {{ currency  }}  <br/> на кожну дитину</span></td>
                </tr>
                <tr>
                    <td>Візит третьої особи у випадку перебування Застрахованої особи в
                        лікарні більше 10 днів (оплата вартості квитків)
                    </td>
                    <!-- <td></td> -->
                    <td class="default">&#10008;</td>
                    <td>&#10008;</td>
                    <td><span class="tick">400 {{ currency  }}</span></td>
                </tr>
                <tr>
                    <td>Заміщення Застрахованої особи на переговорах
                    </td>
                    <!-- <td></td> -->
                    <td class="default">&#10008;</td>
                    <td><span class="tick">&#10004;</span></td>
                    <td><span class="tick">400 {{ currency  }}</span></td>
                </tr>
                </tbody>
            </table>

        </article>


    </div>
</template>
<script>
    import $ from 'jquery'

    // DIRTY Responsive pricing table JS
    $( document ).ready(function() {
        // console.log( "ready!" , $('#scrollplan > ul').scrollLeft(), '   ', $('#scrollplan > ul').position());

        let scrollwidth = $('#scrollplan > ul').width()
        $('#scrollplan > ul').scrollLeft(scrollwidth  / 3 - 20) // делаем на глаз скролл
// console.log('  left offset ', scrollwidth / 3 - 20 , '  scrollleft ', $('#scrollplan > ul').scrollLeft(), ' width ', $('#scrollplan > ul').width())


    $( "ul" ).on( "click", "li", function() {

        var pos = $(this).index()+2;
        $("tr").find('td:not(:eq(0))').hide();
        $('td:nth-child('+pos+')').css('display','table-cell');
        $("tr").find('th:not(:eq(0))').hide();
     //   $('li').removeClass('active');
     //   $(this).addClass('active');
    });

    // Initialize the media query
    var mediaQuery = window.matchMedia('(min-width: 640px)');

    // Add a listen event
    mediaQuery.addListener(doSomething);

    // Function to do something with the media query
    function doSomething(mediaQuery) {

        if (mediaQuery.matches) {
            $('.sep').attr('colspan',4);
        } else {
            $('.sep').attr('colspan',2);
        }
    }

    // On load
    doSomething(mediaQuery);
    });

    import {eventBus} from '../main'
    export default{
        data(){
            return{
                currency:'',
                programm: {
                    val: 1.1,
                    name: 'C'
                },
                programms: [
                    {val: 0.7, name: 'S'},
                    {val: 1.1, name: 'C'},
                    {val: 1.8, name: 'G'},
                    {val: 2.7, name: 'P'}
                ]

            }
        },
        created(){
            eventBus.$on('medspend', data =>{
                this.currency = data.currency
                //    this.medsumkoef = data.sumkoef,
                //    this.medsumval = data.sumval
                //    console.log (data);
            });
        },
        mounted(){
            this.onSendProgramm();
        },
        watch:{
            programm(){
                // console.log ('programm', prot)
                this.onSendProgramm()
            }
        },
        methods: {
            onSendProgramm(){
                eventBus.$emit('programm', {
                    programmval: this.programm.val,
                    programmname: this.programm.name
                });

            }
        }
    }
</script>
<style scoped>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    .center{
        text-align: center;
    }
=======
  /*
    .center{
        text-align: center;
    }
    */
>>>>>>> travel5

=======
>>>>>>> travel4

    .center article {
        width:100%;
        max-width:1000px;
        margin:0 auto;
        /* height:1000px; */
        position:relative;
    }
    .center ul {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        top:0px;
        z-index:10;
        padding-bottom:14px;
        overflow-x: auto;
        padding: 0;
    }
<<<<<<< HEAD
/*    .center li {
        list-style:none;
        flex:1;
    }
*/
    .center li {
        list-style: none;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
=======
    /*    .center li {
            list-style:none;
            flex:1;
        }
    */
    .center li {
        list-style: none;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
>>>>>>> travel5
        width: 100%;
        border: 1px solid #DDD;
        border-right: 0;
        border-top: 0;
        padding: 10px;
        background: #FFF;
        font-size: 14px;
        font-weight: bold;
        height: 60px;
        color: #999;
    }
<<<<<<< HEAD

    .center li:last-child {
        border-right:1px solid #DDD;
    }
    .center button {
        width:100%;
        border: 1px solid #DDD;
        border-right:0;
        border-top:0;
        padding: 10px;
        background:#FFF;
        font-size:14px;
        font-weight:bold;
        height:60px;
        color:#999
    }
    .center li.active button {
        background:#F5F5F5;
        color:#000;
    }
    .center table { border-collapse:collapse; table-layout:fixed; width:100%; }
    .center th { background:#F5F5F5; display:none; }
    .center td, .center th {
        height:53px
    }
    .center td, .center th { border:1px solid #DDD; padding:10px; empty-cells:show; }
    .center td, .center th {
        text-align:left;
    }
    .center td+td, .center th+th {
        text-align:center;
        display:none;
    }
    .center td.default {
        display:table-cell;
    }
    .center .bg-purple {
        border-top:3px solid #A32362;
    }
    .center .bg-blue {
        border-top:3px solid #0097CF;
    }
    .center .sep {
        background:#F5F5F5;
        font-weight:bold;
    }
    .center .txt-l { font-size:28px; font-weight:bold; }
    .center .txt-top { position:relative; top:-9px; left:-2px; }
    .center .tick { font-size:18px; color:#2CA01C; }
    .center .hide {
        border:0;
        background:none;
    }

    @media (min-width: 640px) {
        .center ul {
            display:none;
        }
        .center td, .center th {
            display:table-cell !important;
        }
        .center td, .center th {
            width: 330px;

=======

    .center li:last-child {
        border-right:1px solid #DDD;
    }
    .center button {
        width:100%;
        border: 1px solid #DDD;
        border-right:0;
        border-top:0;
        padding: 10px;
        background:#FFF;
        font-size:14px;
        font-weight:bold;
        height:60px;
        color:#999
    }
    .center li.active button {
        background:#F5F5F5;
        color:#000;
    }
    .center table { border-collapse:collapse; table-layout:fixed; width:100%; }
    .center th { background:#F5F5F5; display:none; }
    .center td, .center th {
        height:53px
    }
    .center td, .center th { border:1px solid #DDD; padding:10px; empty-cells:show; }
    .center td, .center th {
        text-align:left;
    }
    .center td+td, .center th+th {
        text-align:center;
        display:none;
    }
    .center td.default {
        display:table-cell;
    }
    .center .bg-purple {
        border-top:3px solid #A32362;
    }
    .center .bg-blue {
        border-top:3px solid #0097CF;
    }
    .center .sep {
        background:#F5F5F5;
        font-weight:bold;
    }
    .center .txt-l { font-size:28px; font-weight:bold; }
    .center .txt-top { position:relative; top:-9px; left:-2px; }
    .center .tick { font-size:18px; color:#2CA01C; }
    .center .hide {
        border:0;
        background:none;
    }

    @media (min-width: 640px) {
        .center ul {
            display:none;
        }
        .center td, .center th {
            display:table-cell !important;
        }
        .center td, .center th {
            width: 330px;

>>>>>>> travel5
        }
        .center td+td, .center th+th {
            width: auto;
        }
    }

    .center tbody {
        background-color: #eee;
        opacity: 0.65;
    }
<<<<<<< HEAD
    .white {
        color: white;
=======
  /*
    .center{
        text-align: center;
    }
    */



    #programms {
        overflow: hidden;
>>>>>>> travel4
    }
>>>>>>> travel4
=======

<<<<<<< HEAD
    #programms {
        overflow: hidden;
    }
>>>>>>> travel5

<<<<<<< HEAD
=======
>>>>>>> travel4
=======
    .center{
        text-align: center;
    }


    .center article {
        width:100%;
        max-width:1000px;
        margin:0 auto;
        /* height:1000px; */
        position:relative;
    }
    .center ul {
        display:flex;
        top:0px;
        z-index:10;
        padding-bottom:14px;
        overflow-x: auto;
        padding: 0;
    }
    /*    .center li {
            list-style:none;
            flex:1;
        }
    */
    .center li {
        list-style: none;
        flex: 1;
        width: 100%;
        border: 1px solid #DDD;
        border-right: 0;
        border-top: 0;
        padding: 10px;
        background: #FFF;
        font-size: 14px;
        font-weight: bold;
        height: 60px;
        color: #999;
    }

    .center li:last-child {
        border-right:1px solid #DDD;
    }
    .center button {
        width:100%;
        border: 1px solid #DDD;
        border-right:0;
        border-top:0;
        padding: 10px;
        background:#FFF;
        font-size:14px;
        font-weight:bold;
        height:60px;
        color:#999
    }
    .center li.active button {
        background:#F5F5F5;
        color:#000;
    }
    .center table { border-collapse:collapse; table-layout:fixed; width:100%; }
    .center th { background:#F5F5F5; display:none; }
    .center td, .center th {
        height:53px
    }
    .center td, .center th { border:1px solid #DDD; padding:10px; empty-cells:show; }
    .center td, .center th {
        text-align:left;
    }
    .center td+td, .center th+th {
        text-align:center;
        display:none;
    }
    .center td.default {
        display:table-cell;
    }
    .center .bg-purple {
        border-top:3px solid #A32362;
    }
    .center .bg-blue {
        border-top:3px solid #0097CF;
    }
    .center .sep {
        background:#F5F5F5;
        font-weight:bold;
    }
    .center .txt-l { font-size:28px; font-weight:bold; }
    .center .txt-top { position:relative; top:-9px; left:-2px; }
    .center .tick { font-size:18px; color:#2CA01C; }
    .center .hide {
        border:0;
        background:none;
    }

    @media (min-width: 640px) {
        .center ul {
            display:none;
        }
        .center td, .center th {
            display:table-cell !important;
        }
        .center td, .center th {
            width: 330px;

        }
        .center td+td, .center th+th {
            width: auto;
        }
    }

    .center tbody {
        background-color: #eee;
        opacity: 0.65;
    }
    .white {
        color: white;
    }

>>>>>>> travel4
</style>