<template>
    <div class="col-md-3">
        <div class="form-group">
            <span class="form-label">Територія дії</span>
            <select id="terselect" class="form-control" v-model="territory" @change="onSendTerritory" >
                <option v-for='territory in territories' :value="territory">
                    {{ territory.val }}
                </option>
            </select>
            <span class="select-arrow"></span>
        </div>
    </div>

</template>
<script>
    import {eventBus} from '../main'
    export default {
        data(){
            return {
                territory: {
                    zone: 2, val: "Шенген", koef: 1
                },
                territories: [
                    {zone: 1, val: "СНД", koef: 0.9},
                    {zone: 2, val: "Шенген", koef: 1},
                    {zone: 3, val: "Таиланд, Тунис, Турция, Египет", koef: 1.5},
                    {zone: 4, val: "США", koef: 10},
                    {zone: 5, val: "Весь Мир", koef: 10},
                    {zone: 6, val: "Другие страны", koef: 1.5}
                    //{zone: "Зона 7", val: "Весь Мир, кроме США", koef: 5}
                ]
            }
        },
        mounted(){
            this.onSendTerritory();
        },
        methods: {
            onSendTerritory(){
                // console.log('onSendTerritory ' + this.territory);
                eventBus.$emit('territory', {
                    territorykoef: this.territory.koef,
<<<<<<< HEAD
                    territoryzone: this.territory.zone,
<<<<<<< HEAD
<<<<<<< HEAD
                    territoryval: this.territory.val
=======
                    territoryval: this.territory.val,
>>>>>>> travel5
=======
                    territoryval: this.territory.val,
>>>>>>> travel4
=======
                    territoryzone: this.territory.zone
>>>>>>> travel4
                });
            }
        }
    }
</script>