<template>
<div class="form-group center">
<h3 class="white"> Подорожуючі </h3>
    <div class="row" v-for="(tourist, i) in tourists">
        <div class="col-md-3">
            <div class="kossflex">
                <div class="form-group ">
                    <span class="form-label">№</span>
                    <div class="form-control disabled">
                    <div class="pclass" >{{ i+1 }}</div>
                    </div>
                </div>
       <!-- </div>

        <div class="col-md-2"> -->
                <div class="form-group">
                    <span class="form-label">Мета</span>
                    <select id="idaim1" class="form-control" v-model="tourist.aim" @change="" >
                        <option v-for='aim in aims' :value="aim">
                            {{ aim.val }} {{ aim.name }}
                        </option>
                    </select>
                    <span class="select-arrow kkarrow"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <span class="form-label">Дата народження</span>
                <date-picker :id="'tourist' +i" v-model="tourist.birthday" :config="optionsBirthday"
                             @dp-change="onSendTourists">

                </date-picker>
            </div>
         </div>


         <div class="col-md-3">
            <div class="form-btn">
                <button :class="onClass(i)"
                        v-on:click.stop.prevent="addTourist(i)"
                        >{{ onToggle(i) }}</button>
            </div>
        </div>
    </div>
<hr>
    <div class="row" id="accept">
        <div class="col-md-12">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
			<div class="" >
				<app-hidden/>
			</div>
=======
>>>>>>> travel4
            <span>
        <toggle-button @change="formshow =!formshow"
                        id="changed-font"
                       :speed = "1000"
                       :value="false"
                       :height="44"
                       :width = "180"
                       :color ="{checked: '#29a20b', unchecked: '#999292', disabled: '#CCCCCC'}"
                       :labels="{checked: 'Я приймаю умови',
                       unchecked: 'Прийміть умови'}"
                        name="agree"
                        required />
                    </span>
            <span class="white" v-show="formshow"> та надаю згоду на обробку персональних даних</span>
<<<<<<< HEAD
            
			
			
			</div>
=======
			<div >
				<span class="white"> <a data-toggle="collapse" data-target="#demo">Умови: географія подорожі - {{ territoryval }}, медичні витрати - </a> </span>
				<div id="demo" class="collapse">
				<app-hidden> </app-hidden>
				</div>
			</div>
=======
			<div >
				<span class="white"> <a data-toggle="collapse" data-target="#demo">Умови: географія подорожі - {{ territoryval }}, медичні витрати - </a> </span>
				<div id="demo" class="collapse">
				<app-hidden> </app-hidden>
				</div>
			</div>
>>>>>>> travel4

				<div>
					<span>
						<toggle-button @change="formshow =!formshow"
								id="changed-font"
							   :speed = "1000"
							   :value="false"
							   :height="44"
							   :width = "180"
							   :color ="{checked: '#29a20b', unchecked: '#999292', disabled: '#CCCCCC'}"
							   :labels="{checked: 'Я приймаю умови',
							   unchecked: 'Прийміть умови'}"
								name="agree"
								required />
							</span>
					<span class="white" v-show="formshow"> та надаю згоду на обробку персональних даних</span>
				</div>
=======
>>>>>>> travel4
            </div>
<<<<<<< HEAD
>>>>>>> travel5
=======
>>>>>>> travel4
    </div>
    <transition name="fade">
<div v-if="formshow">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group" >
                <span class="form-label">e-mail
                    <span class="error"
                          v-if="$v.email.$error && !$v.email.email"> Щось не схоже!
                    </span>
                </span>
                <input class="form-control" v-model.trim="$v.email.$model" @input="delayTouch($v.email)"  placeholder="your@email"/>
            </div>


        </div>
        <div class="col-md-3">

            <div class="form-group" :class="{ 'form-group--error': $v.tel.$error }">
                <!-- <label class="form__label">Телефон</label> -->
                <span class="form-label">Моб. телефон <span v-if="plus">без "+"</span>
                    <span class="error"
                        v-if="!$v.tel.kossnums">лише цифри!
                    </span>
                     <!-- <span class="error"
                        v-if="!$v.tel.kossplus">БЕЗ "+"!
                    </span> -->
                    <span class="error"
                          v-else-if="!$v.tel.maxLength">Здається, перебір!
                    </span>

                    <span class="error"
                          v-else-if="$v.tel.$error && !$v.tel.minLength">Мінімум 11 цифр
                    </span>

                </span>
                <input class="form-control" v-model.trim="$v.tel.$model" @input="delayTouch($v.tel)" @keyup="onlyTel" placeholder="38 (0XX) XXX XX-XX"/>
            </div>
            <!-- <div class="error" v-if="!$v.tel.required">Field is required</div> -->


            <!-- <div class="form-group">
                <span class="form-label">Телефон</span>
                <input class="form-control" type="text" placeholder="38(0XX)XXX-XXXX" v-model="tel" required>
            </div> -->
        </div>
        <div class="col-md-5">
            <div class="kossflex">
                <div class="form-group">
                    <span class="form-label"></span>
                    <label class="container-kk">
                        <input type="checkbox"  @change="addStrahuvalnik" checked>
                        <span class="checkmark"></span>
                    </label>
               </div>
        <!--    </div>

            <div class="col-md-4"> -->
                <div class="form-group">
                    <span class="form-label"></span>
                    <div :class="strahuvalnikclass" >
                        <div class="pclass">{{ strahuvalnikmessage }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <transition name="menu-popover">
         <div class="row" v-if="strahshow">

        <div class="col-md-2">
            <div class="form-group">
                <span class="form-label">Адреса реєстрації</span>
                <input class="form-control" type="text" placeholder="м.Київ, Хрещатик 1" v-model="strahuvalnik.address">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <span class="form-label">Дата народження</span>
                <date-picker  v-model="strahuvalnik.birthday" :config="optionsBirthday"
                >
                </date-picker>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <span class="form-label">Ім'я</span>
                <input class="form-control" type="text" placeholder="Ім'я" v-model="strahuvalnik.name">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <span class="form-label">Прізвище</span>
                <input class="form-control" type="text" placeholder="Прізвище" v-model="strahuvalnik.sirname">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <span class="form-label">Паспорт</span>
                <input class="form-control" type="text" placeholder="СО123456" v-model="strahuvalnik.passport">
            </div>
        </div>
     <!--   <div class="col-md-2">
            <div class="form-group">
                <span class="form-label">Податковий номер</span>
                <input class="form-control" type="text" placeholder="1234567890" v-model="strahuvalnik.inn">
            </div>
        </div> -->

             <div class="col-md-2">
                 <div class="form-group">
                     <span class="form-label" v-if="strahinnkeyup">Податковий номер</span>
                     <!-- <span class="form-label" v-else-if="!innkeyup">ІНН</span> -->
                     <span class="form-label error" v-else-if="!$v.strahuvalnik.inn.numeric">Лише цифри</span>
                     <span class="form-label" v-else-if="!$v.strahuvalnik.inn.minLength"> Номер <10 цифр</span>

                     <span class="form-label error" v-else-if="!$v.strahuvalnik.inn.maxLength">Більше за 10 цифр</span>
                     <span class="form-label" v-else-if="!$v.strahuvalnik.inn.required">Введіть номер</span>
                     <span class="form-label" v-else-if="!strahinnkeyup">номер правильний</span>

                     <input class="form-control"  v-model.trim="$v.strahuvalnik.inn.$model" placeholder="1234567890"
                            @keyup="onStrahInnKeyUp"   type="text">
                 </div>

             </div>

    </div>
    </transition>

         <div class="row" v-for="(tourist, i) in tourists">

        <div class="col-md-4">
            <div class="kossflex">
                <div class="form-group">
                    <span class="form-label">Резидент</span>
                    <label class="container-kk">
                        <input type="checkbox"  @change="tourist.rezident=!tourist.rezident" checked>
                        <span class="checkmark"></span>
                    </label>
                </div>
        <!--    </div>

            <div class="col-md-1"> -->
                <div class="form-group">
                    <span class="form-label">Мета</span>
                    <select id="idaim1" class="form-control" v-model="tourist.aim" @change="" >
                        <option v-for='aim in aims' :value="aim">
                            {{ aim.val }}
                        </option>
                    </select>
                    <span class="select-arrow"></span>
                </div>

                <div class="form-group">
                    <span class="form-label">Дата народження</span>
                    <date-picker :id="'tourist' +i" v-model="tourist.birthday" :config="optionsBirthday"
                                 @dp-change="onSendTourists">

                    </date-picker>
                </div>
            </div>
        </div>
     <!--   <div class="col-md-2"> -->

   <!-- </div> -->
        <div class="col-md-2">
            <div class="form-group">
                <span class="form-label">Ім'я
                    <span v-if="!$v.tourists.$each[i].name.maxLength" class="error">перебір</span>
                    <span v-if="!$v.tourists.$each[i].name.kossname" class="error">Латиницею</span>
                </span>
                <input class="form-control" type="text" placeholder="NAME"
                       @keyup="onNameKeyUp(i)" :name="'name' + i" v-model="tourist.name">
            </div>
        </div>
        <div class="col-md-2">

            <div class="form-group">
                <span class="form-label">Прізвище
                    <span v-if="!$v.tourists.$each[i].sirname.maxLength" class="error">перебір</span>
                    <span v-else-if="!$v.tourists.$each[i].sirname.kossname" class="error">Латиницею</span>
                </span>
                <input class="form-control" type="text" placeholder="SIRNAME"
                       :name="'sirname' + i" v-model="tourist.sirname" @keyup="onSirnameKeyUp(i)">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <span class="form-label">Passport
                    <span v-if="!$v.tourists.$each[i].passport.maxLength" class="error">перебір</span>
                    <span v-else-if="!$v.tourists.$each[i].passport.kosspassseries" class="error">Латиницею</span>
                </span>
                <input class="form-control" type="text" placeholder="AB12345678" :name="'passport' + i"
                       @keyup="onPassportKeyUp(i)" v-model="tourist.passport">
            </div>

        </div>
        <div class="col-md-2">
            <div class="form-group">
                <span class="form-label" v-if="innkeyup">Податковий номер</span>
                <!-- <span class="form-label" v-else-if="!innkeyup">ІНН</span> -->
                <span class="form-label error" v-else-if="!$v.tourists.$each[i].inn.numeric">Лише цифри</span>
                  <span class="form-label" v-else-if="!$v.tourists.$each[i].inn.minLength"> Номер <10 цифр</span>

                    <span class="form-label error" v-else-if="!$v.tourists.$each[i].inn.maxLength">Більше за 10 цифр</span>
                    <span class="form-label" v-else-if="!$v.tourists.$each[i].inn.required">Введіть номер</span>
                  <span class="form-label" v-else-if="!innkeyup">номер правильний</span>

                <input class="form-control" :name="'inn' + i" v-model="tourist.inn" placeholder="1234567890"
                       @keyup="onInnKeyUp(i)"  :disabled="!tourist.rezident" type="text">
            </div>

        </div>

</div>

    <div class="kossrow">

            <div class="col-md-3">
                <div class="form-group">
                    <div class="white">
                        <toggle-button @change="luggage = !luggage"/> Страхування багажу
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="white">
                            <toggle-button @change="delay = !delay"/> Затримка рейсу
                    </div>
                </div>
            </div>

     </div>

</div>
     </transition>

</div>
</template>
<script>
    // import $ from 'jquery'
    import { required, requiredIf, minLength, maxLength, helpers, numeric, email } from 'vuelidate/lib/validators'

    const kossnums= helpers.regex('kossnums', /^[0-9\(\) -]*$/) //регулярное выражение для номера телефон

    const kosspassseries= helpers.regex('kosspassseries', /^[A-Za-z]{1,2}/) //регулярное выражение для номера паспорта
    const kossname= helpers.regex('kosspassseries', /^[A-Za-z]*$/) //регулярное выражение для номера паспорта


    const touchMap = new WeakMap()

    import {eventBus} from '../main'
    //import AppAim from './Aim.vue'

    var moment = require('moment');

    export default {
        data(){
            return {
                valid: false,
                plus: true,
                innkeyup: true,
                strahinnkeyup: true,
                strahuvalnikclass: 'form-control disabled',
                strahuvalnikmessage: 'Страхувальник є подорожуючий №1',

                strahshow: false,
                formshow: false,

                aims: [
                    {val: "T", name:"Навчання, пляжний відпочинок, туризм", koef: 1},
                    {val: "W", name:"Робота (інтелектуальна праця)", koef: 1},
                    {val: "PW", name:"Робота (фізична праця)", koef: 2},
                    {val: "AR", name:"Активний спортивний відпочинок", koef: 3},
                    // {val: "PS", name:"", koef: 5},
                ],

                optionsBirthday:{
                    format: 'DD.MM.YYYY',
                    useCurrent: false,
                    locale: 'uk',
                    minDate: moment().startOf('day').subtract(74, 'years'),
                    maxDate: moment().startOf('day').subtract(1, 'years'),
                    viewMode: 'years'
                },
                email : '',
                tel: '',
                luggage: '',
                delay: '',

                tourists: [
                    {
                     name: '',
                     sirname: '',
                     birthday: moment().startOf('day').subtract(33, 'years').format('DD.MM.YYYY'),
                     passport: '',
                     inn: '',
                     aim: { "val": "T", name:"Навчання, пляжний відпочинок, туризм", "koef": 1 },
                     agekoef: '',
                     rezident: true,

                    }
                ],
                strahuvalnik: {}

            }
        },


        mounted(){
           // console.log (' moment().startOf ', moment().startOf('day').subtract(33, 'years').format('DD.MM.YYYY'))
            this.onSendTourists()

        },
        watch:{
            luggage(){
                this.onSendTourists()
            },
            delay(){
                this.onSendTourists()
            },
            email(){
                this.onSendTourists()
            },
            tel(){
                this.onSendTourists()
            },
            formshow(){
                this.onSendTourists()
            },

            tourists: {
                handler: function (after, before) {
                    // Return the object that changed
                   /* let changed = after.filter( function( p, idx ) {
                        return Object.keys(p).some( function( prop ) {
                            return p[prop] !== before[idx][prop];
                        })
                    }) */
                    // Log it
                    this.setkAge()
                    this.onSendTourists()
                },
                deep: true
            },
            strahuvalnik:{
                handler: function () {
                    this.onSendStrah()
                },
                deep: true
            },

        },
        methods: {
            onToggle(i){
                let dlina = this.tourists.length;

                // console.log('dlina', dlina, ' i ', i)

                if (i +1 == 4){
                    return 'Видалити подорожуючого';
                }
                else if (i + 1 == dlina){
                    return 'Додати подорожуючого';
                }
                else {
                    return 'Видалити подорожуючого';
                }
            },
            onClass(i){
                let dlina = this.tourists.length;

               // console.log('dlina', dlina, ' i ', i)

                if (i +1 == 4){
                    return 'submit-btn';
                }
                else if (i + 1 == dlina){
                    return 'add-btn';
                }
                else {
                    return 'submit-btn';
                }
            },
            addTourist(i){
                // console.log('this.onToggle(i) ', this.onToggle(i))
                if (this.onToggle(i) == 'Видалити подорожуючого')
                {
                   // console.log ('onToggle(i) !!! ---- ', i)
                    this.tourists.splice(i,1)
                    //this.removeTourist(i)
                }
                else {
                    if (this.tourists.length < 4){
                        this.tourists.push({
                            name: '',
                            sirname: '',
                            birthday: moment().startOf('day').subtract(33, 'years').format('DD.MM.YYYY'),
                            passport: '',
                            inn: '',
                            //aim: { "val": "T", "koef": 1 },
                            aim: { "val": "T", name:"Навчання, пляжний відпочинок, туризм", "koef": 1 },
                            agekoef: '',
                            rezident: true
                        })
                    }
                }
            },

            addStrahuvalnik(){
                this.strahshow = !this.strahshow
              if (this.strahshow ){
                  this.strahuvalnikclass = 'form-control'
                  this.strahuvalnikmessage = 'Страхувальник  НЕ подорожуючий №1'
                this.strahuvalnik = {
                  name: '',
                  sirname: '',
                  birthday: moment().startOf('day').subtract(33, 'years').format('DD.MM.YYYY'),
                  passport: '',
                  inn: '',
                  address: '',
                }

              }
                else {
                  this.strahuvalnikclass = 'form-control disabled'
                  this.strahuvalnikmessage = 'Страхувальник є  подорожуючий №1'
                  this.strahuvalnik = {}
              }
                this.onSendStrah()
            },
            setkAge(){
                //Устанавливаем возврастной коэф каждому туристу
                this.tourists.forEach(function (element) {
                    let today = moment().year()
                    let year = element.birthday
                    year = year.substr(year.lastIndexOf(".") + 1)

                    let age = today - year

                    let kAge;

                    if (age >= 1 && age <= 3) {
                        kAge = 1.7
                    }
                    else if (age >= 4 && age <= 6) {
                        kAge = 1.5
                    }
                    else if (age >= 7 && age <= 16) {
                        kAge = 1
                    }
                    else if (age >= 17 && age <= 59) {
                        kAge = 1
                    }
                    else if (age >= 60 && age <= 64) {
                        kAge = 1.5
                    }
                    else if (age >= 65 && age <= 69) {
                        kAge = 2
                    }
                    else if (age >= 70 && age < 75) {
                        kAge = 3
                    }
                    else {
                        return ;
                    }
                    element.agekoef = kAge
                })
            },

            onSendTourists(){
                this.setkAge()
                this.validate()

                eventBus.$emit('tourists', this.tourists);
                eventBus.$emit('formshow', this.formshow);
                eventBus.$emit('email', this.email);
                eventBus.$emit('tel', this.tel);
                eventBus.$emit('luggagedelay', {
                        luggage: this.luggage,
                        delay: this.delay,
                        valid: this.valid
                    });

            },

            onSendStrah(){
                this.validate()
                eventBus.$emit('strah', {
                    strahdata :this.strahuvalnik,
                    strahneedet : this.strahshow,
                    valid: this.valid
                })
            },
            onlyTel(){
                // let x = this.tel
                let x = this.tel.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,4})/)
                let value = !x[2] ? x[1] : x[1] + "("  + x[2] + ") " + x[3] + (x[4] ? "-" + x[4] : "");
                this.tel = value;
                this.plus = false;
            },
            delayTouch ($v) {
                $v.$reset()
                if (touchMap.has($v)) {
                    clearTimeout(touchMap.get($v))
                    // console.log('delayTouch ')
                }
                touchMap.set($v, setTimeout($v.$touch, 1000))
            },
            onInnKeyUp(i){
             //   console.log('innkeyup ', this.tourists[i].inn)
                let x = this.tourists[i].inn.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,2})/)
               // console.log('x[1] ', x[1],'x[2] ',x[2],'x[3] ', x[3],'x[4] ',x[4])
                let value =  x[1]   + x[2]  + x[3] + x[4] ;
                this.tourists[i].inn = value
                this.innkeyup = false;
            },
            onStrahInnKeyUp(){
                //   console.log('innkeyup ', this.tourists[i].inn)
                let x = this.strahuvalnik.inn.replace(/\D/g, '').match(/(\d{0,2})(\d{0,3})(\d{0,3})(\d{0,2})/)
                // console.log('x[1] ', x[1],'x[2] ',x[2],'x[3] ', x[3],'x[4] ',x[4])
                let value =  x[1]   + x[2]  + x[3] + x[4] ;
                this.strahuvalnik.inn = value
                this.strahinnkeyup = false;
            },
            onPassportKeyUp(i){
                let x = this.tourists[i].passport.replace(/[A-Za-z]{2}\D{8}/g, '').match(/([A-Za-z]{0,2})(\d{0,6})/)
               //  console.log('x[1] ', x[1],'x[2] ',x[2])
                let value;
                    if(!x[1]) {
                        value = "";
                    }
                    else if (x[1].length < 2){
                        x[2] = ""
                        value =  x[1]
                    }
                    else {
                        value = x[1] + x[2]
                    }

                this.tourists[i].passport = value
            },
            onSirnameKeyUp(i){
                let x = this.tourists[i].sirname.replace(/\W+/g, '').match(/([A-Za-z]{0,20})/)
               // console.log('x[1] ', x[1])
                let value =  !x[1] ? "":  x[1] ;
                this.tourists[i].sirname = value
            },
            onNameKeyUp(i){
                let x = this.tourists[i].name.replace(/\W+/g, '').match(/([A-Za-z]{0,19})/)
               // console.log('x[1] ', x[1])
                let value =  !x[1] ? "":  x[1] ;
                this.tourists[i].name = value
            },
            validate() {
               // console.log('validate!')
                this.$v.$touch()
                if (this.$v.$invalid) {
                  //  console.log('ERROR')
                    this.valid = false;
                } else {
                    // do your submit logic here
                 //   console.log('OK')
                    this.valid = true;
                }
            }

        },
        computed: {

        },
        components: {

        },
        validations: {
       /*     if (this.strahshow){
                return{ */
                    tel: {
                        required,
                        minLength: minLength(15),
                        maxLength: maxLength(16),
                        kossnums,
                        //kossplus
                    },
                    email: {

                        required,
                        email
                    },
                    tourists: {
                        required,
                        minLength: minLength(1),
                        $each: {
                            name: {
                                required,
                                minLength: minLength(1),
                                maxLength: maxLength(19),
                                kossname
                            },
                            sirname:{
                                required,
                                minLength: minLength(1),
                                maxLength: maxLength(20),
                                kossname
                            },
                            passport: {
                                required,
                                maxLength: maxLength(8),
                                minLength: minLength(8),
                                kosspassseries
                            },
                            inn: {
                                required,
                                numeric,
                                maxLength: maxLength(10),
                                minLength: minLength(10)

                            }
                        }
                    },
                    strahuvalnik: {
                            inn: {
                                required: requiredIf(function(){return this.strahshow;}),
                                numeric,
                                maxLength: maxLength(10),
                                minLength: minLength(10)
                            }

                    }
                }

    }
</script>

<style scoped>

<<<<<<< HEAD
<<<<<<< HEAD
=======
   table a {
        cursor: pointer;
    }
    th {
        min-width: 100px;
    }

<<<<<<< HEAD
 .pclass {
 padding-top: 12px;
 }

   .vue-js-switch#changed-font {
       font-size: 16px;
   }

   .disabled {
       background-color: #e9ecef;
       opacity: 1;
   }

   .menu-popover-enter,
   .menu-popover-leave-to {
       opacity: 0;
       -webkit-transform: rotateY(50deg);
               transform: rotateY(50deg);
   }
   .menu-popover-enter-to,
   .menu-popover-leave {
       opacity: 1;
       -webkit-transform: rotateY(0deg);
               transform: rotateY(0deg);
   }
   .menu-popover-enter-active,
   .menu-popover-leave-active {
       -webkit-transition: opacity, -webkit-transform 200ms ease-out;
       transition: opacity, -webkit-transform 200ms ease-out;
       -o-transition: opacity, transform 200ms ease-out;
       transition: opacity, transform 200ms ease-out;
       transition: opacity, transform 200ms ease-out, -webkit-transform 200ms ease-out;
   }


   .fade-enter-active, .fade-leave-active {
       -webkit-transition: opacity .5s;
       -o-transition: opacity .5s;
       transition: opacity .5s;
   }
   .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
       opacity: 0;
   }

   .row-centered {
       text-align:center;
   }

   .kossrow {
       margin: 0 auto;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       /* text-align: center; */
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
   }
>>>>>>> travel4
=======

>>>>>>> travel4
=======
    table a {
        cursor: pointer;
    }
    th {
        min-width: 100px;
    }

    .pclass {
        padding-top: 12px;
    }

    .vue-js-switch#changed-font {
        font-size: 16px;
    }

    .disabled {
        background-color: #e9ecef;
        opacity: 1;
    }

    .menu-popover-enter,
    .menu-popover-leave-to {
        opacity: 0;
        transform: rotateY(50deg);
    }
    .menu-popover-enter-to,
    .menu-popover-leave {
        opacity: 1;
        transform: rotateY(0deg);
    }
    .menu-popover-enter-active,
    .menu-popover-leave-active {
        transition: opacity, transform 200ms ease-out;
    }


    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }

    .row-centered {
        text-align:center;
    }

    .kossrow {
        margin: 0 auto;
        display: flex;
        /* text-align: center; */
        justify-content: center;
    }



>>>>>>> travel4

</style>